<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <#include "tools.html"/>


        <!-- Google Fonts
        ============================================ -->
        <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="${rc.contextPath}/statics/css/main.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/css/style.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/css/responsive.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/plugins/layui/css/layui.css">
        
        <script src="${rc.contextPath}/statics/js/vendor/modernizr-2.8.3.min.js"></script>
    
    	<style>
    	.blog-img a img{
    		width: 100%;
    		height: 160px;
    	}
    	</style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- header area start -->
        <header>
            <div id ="headerid"></div>
        </header>
        <!-- header area end -->
        <!-- blog  banner start -->
        <div class="blog-banner">
            <img src="${rc.contextPath}/statics/img/product/banner.jpg" alt="">
        </div>
        <!-- blog banner end -->
        <!-- blog area start -->
        <div class="blog-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location">
                            <ul>
                                <li><a href="${rc.contextPath}/index.html" title="go to homepage">Home<span>/</span></a>  </li>
                                <li><strong> blog</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="product-sidebar">
                            <div class="sidebar-title">
                                <h2>Shopping Options</h2>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Category(类型)</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul >
                                        <li><a class="navItem" href="javascript:;">跑步</a></li>
                                        <li><a class="navItem" href="javascript:;">篮球</a></li>
                                        <li><a class="navItem" href="javascript:;">足球</a></li>
                                        <li><a class="navItem" href="javascript:;">休闲</a></li>
                                        <li><a class="navItem" href="javascript:;">板鞋</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Color(颜色)</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul>
                                        <li><a class="colorItem" href="javascript:;">黑色</a></li>
                                        <li><a class="colorItem" href="javascript:;">蓝色</a></li>
                                        <li><a class="colorItem" href="javascript:;">白色</a></li>
                                        <li><a class="colorItem" href="javascript:;">红色</a></li>
                                        <li><a class="colorItem" href="javascript:;">灰色</a></li>
                                        <li><a class="colorItem" href="javascript:;">紫色</a></li>
                                        <li><a class="colorItem" href="javascript:;">金色</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>品牌分类</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul id="brandList">
                                    	<li v-for="list in brandList">
                                    		<a class="listItem" href="javascript:;">{{list.brandName}}</a>
                                    	</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sidebar-title">
                                    <h2>Blog Posts(潮流·资讯)</h2>
                                </div>
                                <div class="blog-area" id = "blogList">
                                	<template v-for="(blog, index) in blogList" :key="blog.articleId">
                                    <div class="single-blog-post-page">
                                        <div class="blog-img">
                                            <a v-bind:href="[${rc.contextPath}/+'blog-details.html?articleId='+blog.articleId]" v-if="blog.coverImg != null">
                                                <img v-bind:src="blog.coverImg" alt="">
                                            </a>
                                            <a v-bind:href="[${rc.contextPath}/+'blog-details.html?articleId='+blog.articleId]" v-else-if="blog.coverImg == null">
                                                <img src="${rc.contextPath}/statics/img/xsslogo.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <a v-bind:href="[${rc.contextPath}/+'blog-details.html?articleId='+blog.articleId]" class="blog-title">{{blog.articleTitle}}</a>
                                            <span>By<a v-bind:href="['https://www.baidu.com/s?ie=UTF-8&wd='+blog.author]"> {{blog.author}} - </a>{{blog.createTime}} ( {{blog.readNum}} 次浏览 )</span>
                                            <span style="float:right"> {{ blog.articleTag }} </span>
                                            <p>{{blog.articleProfiles}} ...</p>
                                            <a v-bind:href="[${rc.contextPath}/+'blog-details.html?articleId='+blog.articleId]" class="readmore">read more ></a>
                                        </div>
                                    </div>
                                    </template>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="toolbar-bottom">
                                    <div id="pagebar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog area end -->
        <!-- footer top area start -->
        <div id="footerdiv">
        
        </div>
        <!-- footer area end -->
		<script src="${rc.contextPath}/statics/js/vendor/jquery-1.12.1.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/bootstrap.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/wow.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery-price-slider.js"></script>
        <script src="${rc.contextPath}/statics/lib/js/jquery.nivo.slider.js"></script>
        <script src="${rc.contextPath}/statics/lib/home.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery.meanmenu.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/owl.carousel.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery.elevatezoom.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery.scrollUp.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/plugins.js"></script>
        <script src="${rc.contextPath}/statics/js/main.js"></script>
        <script src="${rc.contextPath}/statics/plugins/layer/layer.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/vue.min.js"></script>
        <script src="${rc.contextPath}/statics/plugins/layui/layui.js"></script>
        <script src="${rc.contextPath}/statics/js/blog.js"></script>
    </body>
    <script type="text/javascript">
    	$(document).ready(function(){
    		var baseURL = $("#baseURL").val();
    		$("#headerid").load(baseURL+"/header.html");
    		$("#footerdiv").load(baseURL+"/footer.html");
    	});
    
    </script>
</html>
