<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
		<!-- 导入所需要的公共的css和baseURL和部分js -->
		<#include "tools.html"/>
		<link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="${rc.contextPath}/statics/css/main.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/css/style.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/css/responsive.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/plugins/layui/css/layui.css">
        <!-- modernizr JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- header area start -->
        <header>
        	<div id ="headerid"></div>
        </header>
        <!-- header area end -->
        <!-- blog details area start -->
        <div class="blog-details-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location">
                            <ul>
                                <li><a href="${rc.contextPath}/index.html" title="go to homepage">Home<span>/</span></a>  </li>
                                <li><a href="${rc.contextPath}/blog.html" title="go to blog list">Blog<span>/</span></a></li>
                                <li><strong id="article_title">文章名</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="product-sidebar">
                            <div class="sidebar-title">
                                <h2>Shopping Options</h2>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Category(类型)</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul >
                                        <li><a class="navItem" href="javascript:;">跑步</a></li>
                                        <li><a class="navItem" href="javascript:;">篮球</a></li>
                                        <li><a class="navItem" href="javascript:;">足球</a></li>
                                        <li><a class="navItem" href="javascript:;">休闲</a></li>
                                        <li><a class="navItem" href="javascript:;">板鞋</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Color(颜色)</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul>
                                        <li><a class="colorItem" href="javascript:;">黑色</a></li>
                                        <li><a class="colorItem" href="javascript:;">蓝色</a></li>
                                        <li><a class="colorItem" href="javascript:;">白色</a></li>
                                        <li><a class="colorItem" href="javascript:;">红色</a></li>
                                        <li><a class="colorItem" href="javascript:;">灰色</a></li>
                                        <li><a class="colorItem" href="javascript:;">紫色</a></li>
                                        <li><a class="colorItem" href="javascript:;">金色</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>品牌分类</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul id="brandList">
                                    	<li v-for="list in brandList">
                                    		<a class="listItem" href="javascript:;">{{list.brandName}}</a>
                                    	</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sidebar-title">
                                    <h2>Details Post</h2>
                                </div>
                                <div class="blog-area" id="blog-area">
                                    <div class="blog-post-details">
                                        <div class="blog-img">
                                            <a href="#" v-if="article.coverImg == null || article.coverImg =='' ">
                                                <img src="${rc.contextPath}/statics/img/blog/5.jpg" alt="">
                                            </a>
                                            <a v-else>
                                            	<img v-bind:src="article.coverImg"/>
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <a href="#" class="blog-title">{{article.articleTitle}}</a>
                                            <span><a href="#">作者： {{article.author}} - </a>发布于：{{article.createTime}} ( {{article.readNum}} 次浏览 )</span>
                                            <span style="float:right;">{{article.articleTag}}</span>
                                            <div v-html="article.articleContent"></div>
                                            <div style="float:right;margin:20px 0;"><a v-bind:href="article.articleUrl">原文链接🔗 </a></div>
                                            <div class="article_end"> - END - </div>
                                            <div class="share-post">
                                                <div class="share-title">
                                                    <h3>share this post</h3>
                                                </div>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><a href="#"> <i class="fa fa-weibo"></i> </a></li>
                                                        <li><a href="#"> <i class="fa fa-wechat"></i> </a></li>
                                                        <li><a href="#"> <i class="fa fa-qq"></i> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- <div class="about-author">
                                                <div class="author-img">
                                                    <img src="${rc.contextPath}/statics/img/blog/admin.jpg" alt="">
                                                </div>
                                                <div class="author-content">
                                                    <h3>About the Author: <a href="#">admin</a> </h3>
                                                </div>
                                            </div> -->
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="comment-box" id="comment-box">
                                                        <div class="comment-title">
                                                            <h3 id="comment_num">{{commentNum}} comments</h3>
                                                        </div>
                                                        <div class="comment-list">
                                                            <ul id="comment-list">
                                                            <template v-for="(comment, index) in comList" :key="index">
                                                                <li>
                                                                    <div class="author-img">
                                                                        <div class="commentor_head">{{comment.userName_Head}}</div>
                                                                    </div>
                                                                    <div class="author-comment">
                                                                        <h5>
                                                                        	<a style="margin-right:20px;" href="#"><b>{{comment.userName}}</b> </a> {{comment.createTime}} 
                                                                        </h5>
                                                                        <p>{{comment.content}}</p>
                                                                    </div>
                                                                </li>
                                                                <li v-if="comment.faCommentId != null && comment.faCommentId != ''" class="comment-reply">
                                                                    <div class="author-img">
                                                                        <!-- <img src="${rc.contextPath}/statics/img/blog/admin.jpg" alt=""> -->
                                                                    </div>
                                                                    <div class="author-comment">
                                                                        <!-- <h5><a href="#">demo</a> Post author February 6, 2016 at 2:38 am <a href="#">Reply</a></h5>
                                                                        <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p> -->
                                                                    </div>
                                                                </li>
                                                            </template>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="leave-reply">
                                                        <div class="reply-title">
                                                            <h3>留下你的回复吧</h3>
                                                        </div>
                                                        <div class="reply-form">
                                                            <p style="color:red;">注：请注意网络发言，网络非法外之地(需要登陆XSS，才能回复喔)</p>
                                                            <form id="commentForm" action="${rc.contextPath}/blog/submitComment">
                                                            	<div class="row">
                                                                    <div class="col-md-12 text-area">
                                                                        <label> 评 论 </label>
                                                                        <textarea id="reply-comment" cols="30" rows="5" name="comment"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="post-comment">
                                                                            <button type="button" id="subBtn" @click="subMethod(article.articleId);"> 留下你的痕迹吧 </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="toolbar-bottom">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog details area end -->
        <!-- footer area start -->
        <div id="footerdiv">
        
        </div>
        <!-- footer area end -->
        <script src="${rc.contextPath}/statics/js/vendor/jquery-1.12.1.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/bootstrap.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/wow.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery-price-slider.js"></script>
        <script src="${rc.contextPath}/statics/lib/js/jquery.nivo.slider.js"></script>
        <script src="${rc.contextPath}/statics/lib/home.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery.meanmenu.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/owl.carousel.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery.elevatezoom.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/jquery.scrollUp.min.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/plugins.js"></script>
        <script src="${rc.contextPath}/statics/js/main.js"></script>
        <script src="${rc.contextPath}/statics/js/blog-details.js"></script>
        <script src="${rc.contextPath}/statics/plugins/layer/layer.js"></script>
        <script src="${rc.contextPath}/statics/js/vendor/vue.min.js"></script>
        <script src="${rc.contextPath}/statics/plugins/layui/layui.js"></script>
    </body>
        <script type="text/javascript">
    	$(document).ready(function(){
    		var baseURL = $("#baseURL").val();
    		$("#headerid").load(baseURL+"/header.html");
    		$("#footerdiv").load(baseURL+"/footer.html");
    	});
    </script>
</html>
