<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <!-- 导入所需要的公共的css和baseURL和部分js -->
		<#include "tools.html"/>
		<link rel="stylesheet" href="${rc.contextPath}/statics/css/main.css">
        <link rel="stylesheet" href="${rc.contextPath}/statics/css/style.css">
    </head>
    <style>
    	.layui-table-cell{
			height:auto !important;
		}
		.layui-table-tips-c:before {
		    position: relative;
		    right: 0px;
		    top: -3px;
		}
		.layui-table-tips-c:before {
		    position: relative;
		    /* right: -2px; */
		}
		.layui-btn+.layui-btn {
		    margin-left: 1px;
		}
		.areaLi{
			margin: 10px;
		}
		.areaLiDiv{
			padding: 10px;
		}
		.active{
			border: 2px dotted #ccc;
			color: red;
		}
    </style>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- header area start -->
        <header>
        	<div id ="headerid"></div>
        </header>
        <!-- header area end -->
        <!-- cart item area start -->
        <div class="shopping-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location">
                            <ul>
                                <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                                <li><strong> 购物车 </strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            
                            <table class="" id="cartTable" lay-filter="cartTable"></table>
                            
                            <div class="shopping-button">
                                <div class="continue-shopping">
                                    <button type="button" onclick="submitBtn();">
                                    	<!-- <a href="#discount-code"> 确认订单 </a> -->
                                    	确认订单
                                    </button>
                                    <button type="button" id="delsBtn" onclick="delShopGoods();">批量删除</button>
                                </div>
                                <div class="shopping-cart-left">
                                    <button type="button">清空购物车</button>
                                    <button type="button" onclick="reflesh();">更新购物车</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="discount-code" class="row">
                    <div class="col-sm-4" >
                        <div class="discount-code" style="visibility:hidden">
                            <h3>Discount Codes(折扣码)</h3>
                            <p>Enter your coupon code if you have one.(请输入折扣码)</p>
                            <input id="discount-input" type="text">
                            <div class="shopping-button" id="discount-div">
                                <button type="button" id="discount-btn">使用折扣</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    <form class="layui-form" action="">
                        <div class="estimate-shipping">
                            <h3>选择您的收货地址</h3>
                            <p>不选则会使用默认地址</p>
                            <!-- <div class="layui-inline">
						      <div class="layui-input-inline">
						        <select name="modules" lay-verify="required" lay-search="" id="areaList">
						        	<option value="0">可以直接搜索</option>
						        	<option value="" v-for="area in areaList">姓名:{{area.shopName}} 联系方式:{{area.phone}} 联系地址:{{area.province}} {{area.city}} {{area.area}} {{area.detailAddress}}</option>
						        </select>
						      </div>
						    </div> -->
                            <ul id="areaList">
                            	<li class="areaLi" v-for="area in areaList" @click="funcA(area.addId,$event);" v-bind:value="area.addId">
                            		<template @click="funcA(area.addId,$event);" v-if="area.isMain == '1'">
                            		<!-- <a href="javascript:;" @click="funcA(area.addId,$event);" v-if="area.isMain == '1'"> -->
		                            	<div class="areaLiDiv active" v-bind:value="area.addId">
			                            	<div><b> 姓名：</b><span>{{area.shopName}}</span> 
												<span style="margin-left: 20px;"><b>联系方式：</b></span><span>{{area.phone}}</span>
											</div>
											<div><b>联系地址:</b> {{area.province}} {{area.city}} {{area.area}} {{area.detailAddress}}</div>
										</div>
                            		<!-- </a> -->
                            		</template>
                            		<template @click="funcA(area.addId,$event);" v-else>
		                            	<div class="areaLiDiv" v-bind:value="area.addId">
			                            	<div><b> 姓名：</b><span>{{area.shopName}}</span> 
												<span style="margin-left: 20px;"><b>联系方式：</b></span><span>{{area.phone}}</span>
											</div>
											<div><b>联系地址:</b> {{area.province}} {{area.city}} {{area.area}} {{area.detailAddress}}</div>
										</div>
                            		</template>
                            	</li>
                            </ul>
                        	<button>新增收货地址</button>
                        </div>
                    </form>
                    </div>
                    <div class="col-sm-4">
                        <div class="totals">
                            <p style="clear:right;">商品总价： <span id="total-price-1">0</span> </p>
                            <h3>最终价格： <span id="total-price-2">0</span></h3>
                            <form id="submitForm" action='${rc.contextPath}/cars/jumpToCheck'>
	                            <div class="shopping-button">
	                                <button id="checkBtn" type="button" style="margin-top: 20px;">确认并提交订单</button>
	                            </div>
                            </form>
                            <a href="#discount-code">收货地址别忘了选喔~</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart item area end -->
        <!-- footer top area start -->
        <div id="footerdiv">
        </div>
        <!-- footer area end -->
        <!-- jquery
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/jquery-1.12.1.min.js"></script>
        <!-- bootstrap JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/bootstrap.min.js"></script>
        <!-- wow JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/wow.min.js"></script>
        <!-- price-slider JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/jquery-price-slider.js"></script>
        <!-- nivoslider JS -- 幻灯片效果
        ============================================ -->
        <script src="${rc.contextPath}/statics/lib/js/jquery.nivo.slider.js"></script>
        <script src="${rc.contextPath}/statics/lib/home.js"></script>
        <!-- meanmenu JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/owl.carousel.min.js"></script>
        <!-- elevatezoom JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/jquery.elevatezoom.js"></script>
        <!-- scrollUp JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/jquery.scrollUp.min.js"></script>
        <!-- plugins JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/vendor/plugins.js"></script>
        <!-- main JS
        ============================================ -->
        <script src="${rc.contextPath}/statics/js/main.js"></script>
        <!-- layui -->
        <script type="text/javascript" src="${rc.contextPath}/statics/plugins/layui/layui.js"></script>
        <!-- layer js -->
        <script src="${rc.contextPath}/statics/plugins/layer/layer.js"></script>
        
        <script src="${rc.contextPath}/statics/js/cart.js"></script>
    </body>
    
    <script type="text/javascript">
    	$(document).ready(function(){
    		var baseURL = $("#baseURL").val();
    		$("#headerid").load(baseURL+"/header.html");
    		$("#footerdiv").load(baseURL+"/footer.html");
    	});
    </script>
    <script type="text/html" id="barDemo">
  		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
</html>
